# Données brutes et données générées
data/raw/*.csv
data/processed/*.csv

# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Variables d'environnement
.env

# Fichiers système
.DS_Store